@model Link;

<div class="row my-3">
            <div class="col-4">
                <h2>_launchPad. <small>Administration</small> </h2>
            </div>
             <div class="col-3">
                <form method="post" id="frmLogout" asp-controller="Admin" asp-action="Logout"><button type="submit" class="btn btn-light">Logout</button></form>
            </div>
</div>
<div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none">
  <strong>WARNING : Session is about to expire in 2 mins!  Please refresh the page before the session expires</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">
        <h4>Delete Link.</h4>
        
        <form method="post">

            <p>Are you sure you want to delete the following link?</p>

            <span><img src="https://www.google.com/s2/favicons?domain_url=@Model.href" alt="logo"/></span>
            <span>@Model.link  | @Model.href</span> 
            <input type="hidden" name="linkId" value="@Model.linkId"/>
            <div class="form-group mt-4">
                <input type="submit" asp-controller="Admin" asp-action="DeleteSubmit" class="btn btn-warning" value="Delete" />
                <input type="submit" asp-controller="Admin" asp-action="Index" class="btn btn-warning" value="Cancel" />
            </div>
        </form>

    </div>
</div>